<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gumos Royale</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card button (click)="navegar('miperfil')">
                    <ion-card-header>
                        <ion-card-title class="item-icon">
                            <ion-icon class="icon" name="person"></ion-icon>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="item-name">
                        Mi Perfil
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card button (click)="navegar('miclan')">
                    <ion-card-header>
                        <ion-card-title class="item-icon">
                            <ion-icon class="icon" name="skull"></ion-icon>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="item-name">
                        Mi Clan
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card button (click)="navegar('favoritos')">
                    <ion-card-header>
                        <ion-card-title class="item-icon">
                            <ion-icon class="icon" name="heart"></ion-icon>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="item-name">
                        Favoritos
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card button (click)="navegar('settings')">
                    <ion-card-header>
                        <ion-card-title class="item-icon">
                            <ion-icon class="icon" name="settings"></ion-icon>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="item-name">
                        Configuración
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>