<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="cerrar()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Notas de Versión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1>
        v2.0.5
    </h1>
    <ul>
        <li>
            Mejoras en vistas de Mi Perfil, Perfil y Miembros del Clan
        </li>
        <li>
            Se agregan gráficos visuales
        </li>
        <li>
            Se elimina gráfico circular de Batallas
        </li>
        <li>
            Se agrega segmento de Batallas con información del histórico de batallas en Mi Perfil NOTA: Solo se visualizan de manera correcta las batallas 1v1, info de batallas 2v2 en desarrollo
        </li>
    </ul>
    <ul>
        <li>

        </li>
    </ul>
    <h1>
        v2.0.0
    </h1>
    <ul>
        <li>
            Mi Perfil: Ver status, cofres por obtener
        </li>
        <li>
            Mi Clan: Vista de info de clan, miembros y status de día de recolección/guerra
        </li>
        <li>
            Favoritos: Listado de jugadores favoritos para rápida visualización
        </li>
        <li>
            Configuración: Cargar perfil de acuerdo al tag del jugador
        </li>
        <li>
            Verificación de actualización
        </li>
    </ul>
</ion-content>