<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="cerrar()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Notas de Versión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-item color="warning">
            <ion-label class="ion-text-wrap">Este material no es oficial y no está respaldado por Supercell. Para obtener más información, consulte la Política de contenidos de fans en <a href="http://supercell.com/en/fan-content-policy/es/" target="_blank">http://supercell.com/en/fan-content-policy/es/</a></ion-label>
        </ion-item>
    </ion-card>
    <ion-label>

        <h1>
            v2.0.11
        </h1>
        <ul>
            <li>Actualización de nombre, iconos e imagen de inicio</li>
            <li>Fixes menores</li>
        </ul>
        <h1>
            v2.0.10
        </h1>
        <ul>
            <li>Opción notas de versión: Muestra información de los cambios de las versiones</li>
            <li>Opción Ranking Chile: Muestra información de los Jugadores y Clanes TOP de Chile</li>
        </ul>
        <h1>
            v2.0.5
        </h1>
        <ul>
            <li>
                Mejoras en vistas de Mi Perfil, Perfil y Miembros del Clan
            </li>
            <li>
                Se agregan gráficos visuales
            </li>
            <li>
                Se elimina gráfico circular de Batallas
            </li>
            <li>
                Se agrega segmento de Batallas con información del histórico de batallas en Mi Perfil NOTA: Solo se visualizan de manera correcta las batallas 1v1, info de batallas 2v2 en desarrollo
            </li>
        </ul>
        <h1>
            v2.0.0
        </h1>
        <ul>
            <li>
                Mi Perfil: Ver status, cofres por obtener
            </li>
            <li>
                Mi Clan: Vista de info de clan, miembros y status de día de recolección/guerra
            </li>
            <li>
                Favoritos: Listado de jugadores favoritos para rápida visualización
            </li>
            <li>
                Configuración: Cargar perfil de acuerdo al tag del jugador
            </li>
            <li>
                Verificación de actualización
            </li>
        </ul>
    </ion-label>
</ion-content>