<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-segment [(ngModel)]="clanSegment" (ionChange)="changeSegment()">
            <ion-segment-button value="clanInfo">
                <ion-icon name="information-circle-outline"></ion-icon>
                <ion-label>Info</ion-label>
            </ion-segment-button>
            <ion-segment-button value="clanMembers">
                <ion-icon name="people-circle-outline"></ion-icon>
                <ion-label>Miembros</ion-label>
            </ion-segment-button>
            <ion-segment-button value="clanWar">
                <ion-icon name="skull-outline"></ion-icon>
                <ion-label>Guerra</ion-label>
            </ion-segment-button>
        </ion-segment>

    </ion-toolbar>
</ion-header>

<ion-content #contentArea [ngSwitch]="clanSegment" *ngIf="existeClan">
    <ion-card *ngSwitchCase="'clanInfo'">
        <ion-card-header color="light">
            <ion-item lines="none" color="light">
                <ion-thumbnail>
                    <img src="../../../assets/badges/{{infoClan.badgeId}}.png">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                    <h1>{{infoClan.name}}</h1>
                    <h2>{{infoClan.description}}</h2>
                </ion-label>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Tag</ion-label>
                    <ion-badge slot="end" color="primary">{{infoClan.tag}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Copas del Clan</ion-label>
                    <ion-badge slot="end" color="warning">{{infoClan.clanScore}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Trofeos Requeridos</ion-label>
                    <ion-badge slot="end" color="danger">{{infoClan.requiredTrophies}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Trofeos de Guerra</ion-label>
                    <ion-badge slot="end" color="warning">{{infoClan.clanWarTrophies}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Nivel del Cofre del Clan</ion-label>
                    <ion-badge slot="end" color="danger">{{infoClan.clanChestLevel}}</ion-badge>
                </ion-item>
                <ion-item>
                    <ion-label>Miembros del Clan</ion-label>
                    <ion-badge slot="end" color="dark">{{infoClan.members}} / 50</ion-badge>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>Donaciones por Semana</ion-label>
                    <ion-badge slot="end" color="tertiary">{{infoClan.donationsPerWeek}}</ion-badge>
                </ion-item>

            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-list *ngSwitchCase="'clanMembers'">
        <ion-item *ngFor="let miembro of infoClan.memberList" button (click)="mostrarPerfil(miembro.tag)" detail>
            <ion-thumbnail slot="start">
                <img src="../../../../assets/arenas/{{miembro.arena.id}}.png">
            </ion-thumbnail>
            <ion-label>
                {{miembro.name}}
            </ion-label>
            <ion-chip color="secondary" outline="false">
                <ion-icon name="trophy"></ion-icon>
                <ion-label>{{miembro.trophies}}</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
    <section *ngSwitchCase="'clanWar'">
        <ion-grid class="ion-text-center">
            <ion-row>
                <ion-col size="12">
                    <ion-img [src]="urlBanner"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="evento === 'warDay'">
                <ion-col>
                    <ion-chip color="danger">
                        <ion-icon name="trophy-outline"></ion-icon>
                        <ion-label>Victorias</ion-label>
                    </ion-chip>
                    <ion-chip color="medium">
                        <ion-icon name="medal-outline"></ion-icon>
                        <ion-label>Coronas</ion-label>
                    </ion-chip>
                    <ion-chip color="warning">
                        <ion-icon name="flash-outline"></ion-icon>
                        <ion-label>Batallas jugadas</ion-label>
                    </ion-chip>
                    <ion-chip color="success">
                        <ion-icon name="people-circle-outline"></ion-icon>
                        <ion-label>Participantes</ion-label>
                    </ion-chip>
                </ion-col>

            </ion-row>
        </ion-grid>
        <ion-card *ngFor="let clan of infoWar.clans; let i = index">
            <ion-item color="light" lines="none">
                <ion-thumbnail slot="start">
                    <img src="../../../assets/badges/{{clan.badgeId}}.png">
                </ion-thumbnail>
                <ion-label>{{clan.name}}</ion-label>
            </ion-item>
            <ion-grid class="ion-text-center">
                <ion-row>
                    <ion-col size="3">
                        <ion-chip color="danger">
                            <ion-icon name="trophy-outline"></ion-icon>
                            <ion-label>{{clan.wins}}</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col size="3">
                        <ion-chip color="medium">
                            <ion-icon name="medal-outline"></ion-icon>
                            <ion-label>{{clan.crowns}}</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col size="3">
                        <ion-chip color="warning">
                            <ion-icon name="flash-outline"></ion-icon>
                            <ion-label>{{clan.battlesPlayed}}</ion-label>
                        </ion-chip>
                    </ion-col>
                    <ion-col size="3">
                        <ion-chip color="success">
                            <ion-icon name="people-circle-outline"></ion-icon>
                            <ion-label>{{clan.participants}}</ion-label>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
        <ion-list>
            <ion-list-header>
                Participantes
            </ion-list-header>
            <ion-card *ngFor="let miembro of infoWar.participants; let i = index">
                <ion-item color="light" lines="none">
                    <ion-label>{{i + 1}}.- {{ miembro.name }}</ion-label>
                </ion-item>
                <ion-grid class="ion-text-center">
                    <ion-row>
                        <ion-col size="4">
                            <ion-chip>
                                <ion-avatar>
                                    <img src="../../../assets/cards.png">
                                </ion-avatar>
                                <ion-label>
                                    {{miembro.cardsEarned}}
                                </ion-label>
                            </ion-chip>
                        </ion-col>
                        <ion-col size="4">
                            <ion-chip>
                                <ion-avatar>
                                    <img src="../../../assets/cr-trophies.png">
                                </ion-avatar>
                                <ion-label>
                                    {{miembro.wins}}
                                </ion-label>
                            </ion-chip>
                        </ion-col>
                        <ion-col size="4">
                            <ion-chip>
                                <ion-avatar>
                                    <img src="../../../assets/waricon.png">
                                </ion-avatar>
                                <ion-label>
                                    {{miembro.collectionDayBattlesPlayed}} / 3
                                </ion-label>
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-list>
    </section>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button expand="full" color="success" (click)="update()">Actualizar</ion-button>
</ion-footer>